.card {
    width: 15em;
    height: 24em;
    padding: 2em;
    background-color: #f8eacc;
    color: #7e181c;
    font-family: var(--fonte-principal);
    border-radius: 8px;
    box-shadow: 0 5px 8px 0 #00000033, 0 6px 20px 0 #00000030;
    display: flex;
    flex-direction: column;
}

.card__title {
    text-align: center;
}

.card__title h1 {
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card__body {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    flex-grow: 1;
}



.card__body_description {
    font-size: 0.8em;
}

.card__body_description #descricao {
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


.card__body_image {
    display: flex;
    justify-content: center;

}

.card__body_image img {
    width: 200px;
    border: solid 2px #7e181c;
    border-radius: 4px;
}