nav {
    background-color: #f8eacc;
    color: #7e181c;
    align-items: center;
    display: flex;
    font-family: var(--fonte-principal);
    padding: 2em;
}


.menu {
    display: flex;
    justify-content: flex-end;
    padding: 2em;
    flex-grow: 1;
    gap: 2em;
}

.menu a {
    font-size: 1.2em;
    text-decoration: none;
    color: #7e181c;
}

.menu a:hover {
    transform: scale(1.1);
    font-weight: bold;
}

img {
    width: 200px;
    padding: 0;
}