.container {
    margin: 0 auto;
    width: 82em;
    margin-bottom: 2em;
}

.container{
    background-color: #d1060600;
}

.container__body {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    
}

.container__header-title h1 {
    font-family: var(--fonte-principal);
    color: #7e181c
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #7e181c;
    color: #fff;
    cursor: pointer;
    font-family: var(--fonte-principal);
    margin-top: auto;
}

button:hover {
    background-color: #a3272b;
}